<%provide(:title, "About Us")%>
<h1>About Us</h1>
<p>
  The Ruby on Rails Tutorial is a project to make a book and screencasts to teach web development with Ruby on Rails. This is a sample application of the tutorial.
</p>